[submodule "server/deps/ckb-js-toolkit-contrib"]
	path = server/deps/ckb-js-toolkit-contrib
	url = https://github.com/xxuejie/ckb-js-toolkit-contrib
[submodule "server/deps/ckb-c-stdlib"]
	path = server/deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "server/deps/ckb-miscellaneous-scripts"]
	path = server/deps/ckb-miscellaneous-scripts
	url = https://github.com/xxuejie/ckb-miscellaneous-scripts
